#pwa-install-element{
    user-select: none;

    .install-dialog{
        --text-color-normal: #212121;
        --background-color: #fff;
        --border-bottom-color: #DBDCDE;
        --scrollbar-background-color: #fff;

        font-family: "Roboto", "Segoe UI", system-ui;

        position: fixed;
        display: inline-block;

        opacity: 0;
        visibility: hidden;

        z-index: 2147483001;
    }
    .install-dialog.chrome{
        max-width: 380px;
        width: 90%;
        min-height: 90px;
        margin: 0 auto;
        right: 150px;
        left: auto;

        // &.rtl {
        //     right: auto;
        //     left: 150px;
        // }

        background-color: var(--background-color);
        filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));

        font-size: 15px;
        color: var(--text-color-normal);
        border-radius: 8px;

        top: -100px;

        transition: top .5s ease-in-out, opacity .8s ease-in-out, max-height 0.35s ease-in-out;


        &.available {
            opacity: 1;
            top: 28px;
            visibility: visible;
        }

        .dialog-body, .dialog-body-RTL{
            display: grid;

            grid-template-columns: 70px 1fr;

            .icon{
                display: flex;
                align-items: flex-start;

                .icon-image{
                    width: 48px;
                    height: 48px;

                    margin: 0 auto;
                    margin-top: 10px;

                    border-radius: 6px;
                }
            }

            .about {
                display: grid;
                grid-template-rows: 30px auto;

                .name, .hostname{
                    padding: 0px 5px;
                    // padding-left: 5px;
                    overflow: hidden;
                }
                .name{
                    font-weight: 500;
                    // padding-top: 10px;
                    font-size: 18px;
                    text-align: left;

                    line-height: 24px;
                    // padding: 5px 0px;
                    margin-top: 5px;


                    align-items: flex-start;
                    display: flex;

                    label{
                        text-overflow: ellipsis;
                        word-break: break-all;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                .hostname{
                    font-size: 13px;
                    font-weight: 400;
                    opacity: 0.7;
                    text-align: left;

                    line-height: 14px;

                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                    word-break: break-all;
                    white-space: nowrap;
                }

                & + hr{
                    margin-top: 10px;
                }
            }

            .description{
                font-weight: 400;
                line-height: 20px;

                grid-column: 1 / 3;
                padding: 0px 6px;
                margin: 10px 5px 5px;
                text-align: left;

                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                max-height: 115px;
                overflow: hidden;
                overflow-y: auto;
                text-overflow: ellipsis;
                text-align: left;
            }

            .app-description{
                font-size: 13px;
                margin-bottom: 10px;

                &::-webkit-scrollbar {
                    width: 4px;
                    height: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background: rgb(146, 146, 146);
                    border-radius: 4px;
                    &:hover{
                        background: rgb(100, 100, 100);
                    }
                }

                &::-webkit-scrollbar-track {
                    background: var(--scrollbar-background-color);
                    border-radius: 4px;
                }
            }

            .install-description{
                font-size: 14px;
            }

            hr{
                height: 1px;
                width: 100%;
                grid-column: 1 / 3;

                background-color: var(--border-bottom-color);
                border: none;

                margin: 0;
                // & + .description{

                // }
            }

            .action-buttons{
                display: grid;
                grid-template-columns: 50% auto;

                grid-column-start: 1;
                grid-column-end: 3;

                gap: 10px;
                padding: 10px 10px;
                .primary{
                    grid-column-start: 2;
                }
            }

            pwa-gallery{
                grid-column: 1 / 3;

                max-height: 0;
                opacity: 0;

                transition: opacity ease-in-out .5s, max-height .5s ease-in-out;
                overflow: hidden;
            }
        }

        .dialog-body-RTL {
            // .about {
            //     .name, .hostname {
            //         text-align: right;
            //     }
            // }

            .install-description {
                text-align: right;
            }

            .action-buttons {
                direction: rtl;

                // .primary {
                //     grid-column-start: 1;
                // }
            }
        }


        &.gallery{
            pwa-gallery{
                transition: opacity .3s ease-in-out .2s, max-height .5s ease-in-out;

                max-height: 70vh;
                opacity: 1;
            }
        }
    }


    .install-dialog.mobile{
        --touch-header-color: #DBDCE0;
        top: 0px;

        max-width: 414px;
        width: 100%;

        bottom: auto;
        left: 0px;
        right: 0px;

        // transition: bottom .5s ease-in-out 1s, opacity 1.3s ease-in-out .8s, max-height 0.35s ease-in-out 0s;

        transition: none;
        transform: translateY(100vh);

        border-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        padding-bottom: 35px;

        &.available {
            --translateY: translateY(calc(100vh - 85px));

            opacity: 1;
            top: 0px;

            visibility: visible;

            transform: var(--translateY);
        }
    }
}

@media (prefers-color-scheme: dark) {
    #pwa-install-element .install-dialog{
        --text-color-normal: #eee;
        --background-color: #1e1e1e;
        --border-bottom-color: #404140;
        --scrollbar-background-color: #424242;

        &.mobile{
            --touch-header-color: #3f403f;
        }
    }
}

@media (max-width: (768px - 1px)) and (min-height: 495px) {
    #pwa-install-element{
        .install-dialog.chrome.mobile{
            display: inline-block;
        }
        .install-dialog.chrome{
            display: none;
        }
    }
}
@media (min-width: 768px), (max-height: 495px) {
    #pwa-install-element{
        .install-dialog.chrome.mobile{
            display: none;
        }
        .install-dialog.chrome{
            display: inline-block;
        }
    }
}

@media (max-height: 420px) {
    #pwa-install-element{
        .install-dialog.chrome .dialog-body .description{
            -webkit-line-clamp: 3;
            max-height: 70px;
        }
    }
}
