.dialog-body{


	.icon{
		display: flex;
		align-items: flex-start;

		.icon-image{
			width: 48px;
			height: 48px;

			margin: 0 auto;
			margin-top: 10px;

			border-radius: 6px;
		}
	}

	.about {
		display: grid;
		grid-template-rows: 30px auto;

		.name, .hostname{
			padding: 0px 5px;
			// padding-left: 5px;
			overflow: hidden;
		}
		.name{
			font-weight: 500;
			// padding-top: 10px;
			font-size: 18px;

			line-height: 24px;
			// padding: 5px 0px;
			margin-top: 5px;


			align-items: flex-start;
			display: flex;

			label{
				text-overflow: ellipsis;
				word-break: break-all;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		.hostname{
			font-size: 13px;
			font-weight: 400;
			opacity: 0.7;

			line-height: 14px;

			overflow-x: hidden;
			text-overflow: ellipsis;
			text-align: start;
			word-break: break-all;
			white-space: nowrap;
		}

		& + hr{
			margin-top: 10px;
		}
	}

	.description{
		font-weight: 400;
		line-height: 20px;

		grid-column: 1 / 3;
		padding: 0px 6px;
		margin: 10px 5px 5px;

		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		max-height: 115px;
		overflow: hidden;
		overflow-y: auto;
		text-overflow: ellipsis;
		text-align: start;
	}

	.app-description{
		font-size: 13px;
		margin-bottom: 10px;

		&::-webkit-scrollbar {
			width: 4px;
			height: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background: rgb(146, 146, 146);
			border-radius: 4px;
			&:hover{
				background: rgb(100, 100, 100);
			}
		}

		&::-webkit-scrollbar-track {
			background: var(--scrollbar-background-color);
			border-radius: 4px;
		}
	}

	.install-description{
		font-size: 14px;
	}

	hr{
		height: 1px;
		width: 100%;
		grid-column: 1 / 3;

		background-color: var(--border-bottom-color);
		border: none;

		margin: 0;
		// & + .description{

		// }
	}

	.action-buttons{
		display: grid;
		grid-template-columns: 50% auto;

		grid-column-start: 1;
		grid-column-end: 3;

		gap: 10px;
		padding: 10px 10px;
		.primary{
			grid-column-start: 2;
		}
	}

	
	.material-button {
		--text-color-primary: #eee;
		--text-color-secondary: #374fc6;
		--background-color-primary: #374fc6;
		--background-color-ripple: #eee;
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		border: none;
		border-radius: 6px;
		padding: 0 16px;
		min-width: 64px;
		height: 36px;
		vertical-align: middle;
		text-align: center;
		text-overflow: ellipsis;
		text-transform: uppercase;

		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

		font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
		font-size: 14px;
		font-weight: 500;
		line-height: 37px;
		overflow: hidden;
		outline: none;
		cursor: pointer;
		transition: box-shadow 0.2s;
		&.primary{
			color: var(--text-color-primary);
			background-color: var(--background-color-primary);
		}
		&.secondary{
			background-color: transparent;
			color:  var(--text-color-secondary);
			// border: 1px solid #4285F4;

			box-shadow: none;
			&::before, &::after{
				background-color: var(--background-color-primary);
			}
			&:hover, &:active {
				box-shadow: none;
			}
			&.close{
				height: 26px;
				min-width: 26px;
				line-height: 0;

				margin-inline-end: 0;
				margin-inline-start: auto;
				padding: 0;

				border-radius: 50%;

				svg{
					width: 16px;
					fill:  var(--text-color-secondary);
				}

				&::after{
					width: 25px;
					height: 25px;
					border-radius: 50%;
				}
				&::before{
					border-radius: 50%;
				}
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: var(--background-color-ripple);
			opacity: 0;
			transition: opacity 0.2s;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			border-radius: 50%;
			padding: 50%;
			width: 32px;
			height: 32px;
			background-color: var(--background-color-ripple);
			opacity: 0;
			transform: translate(-50%, -50%) scale(1);
			transition: opacity 1s, transform 0.5s;
		}
		// &:hover {
		// 	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
		// 	&::before {
		// 		opacity: 0.08;
		// 	}
		// 	&:focus {
		// 		&::before {
		// 			opacity: 0.3;
		// 		}
		// 	}
		// }
		&:active {
			box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
			&::after {
				opacity: 0.32;
				transform: translate(-50%, -50%) scale(0);
				transition: transform 0s;
			}
		}
	}

	pwa-gallery{
		grid-column: 1 / 3;

		max-height: 0;
		opacity: 0;

		transition: opacity ease-in-out .5s, max-height .5s ease-in-out;
		overflow: hidden;
	}
}

@media (prefers-color-scheme: dark) {
	.dialog-body{ 
		.material-button{
			--text-color-primary: #1B222C;
			--text-color-secondary: #a7c7fa;
			--background-color-primary: #a7c7fa;
		}
	}
}


@media(hover: none) and (pointer: coarse){
	.dialog-body .description::-webkit-scrollbar{
		    display: none;
	}
}
