#pwa-install{
    user-select: none;
    
    .install-dialog{
        --text-color-normal: #333;
        --background-color: #fff;
        --border-bottom-color: #DBDCDE;
        --scrollbar-background-color: #fff;

        font-family: "Roboto", "Segoe UI", system-ui;

        position: fixed;
        display: inline-block;

        opacity: 0;
        visibility: hidden;
        
        z-index: 5;
    }
    .install-dialog.chrome{
        max-width: 380px;
        width: 90%;
        min-height: 90px;
        margin: 0 auto;

        right: 150px;
        left: auto;

        background-color: var(--background-color);
        filter: drop-shadow(0 5px 15px rgba(0,0,0,.3));

        font-size: 15px;
        color: var(--text-color-normal);
        border-radius: 8px;

        top: -100px;

        transition: top .5s ease-in-out, opacity .8s ease-in-out, max-height 0.35s ease-in-out;

        .dialog-body{
            display: grid;

            grid-template-columns: 70px 1fr;

            .icon{
                display: flex;
                align-items: flex-start;
 
                .icon-image{
                    width: 48px;
                    height: 48px;

                    margin: 0 auto;
                    margin-top: 10px;

                    border-radius: 3px;
                }
            }

            .about {
                display: grid;
                grid-template-rows: 30px auto;

                .name, .hostname{ 
                    padding: 5px 10px;
                    padding-left: 5px;
                    overflow: hidden;
                }
                .name{
                    font-weight: 500;
                    padding-top: 10px;
                    font-size: 18px;

                    line-height: 24px;
                    padding: 5px 5px 0px;

                    align-items: flex-start;
                    display: flex;

                    label{
                        text-overflow: ellipsis;
                        word-break: break-all;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
                
                .hostname{
                    font-size: 14px;
                    font-weight: 400;
                    opacity: 0.7;

                    line-height: 14px;

                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    white-space: nowrap;
                }
            }

            .description{
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;

                grid-column: 1 / 3;
                padding: 0px 5px;
                margin: 10px 5px 5px;

                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                max-height: 115px;
                overflow: hidden;
                overflow-y: auto;
                text-overflow: ellipsis;

                &::-webkit-scrollbar {
                    width: 4px;
                    height: 4px;
                }
            
                &::-webkit-scrollbar-thumb {
                    background: rgb(146, 146, 146);
                    border-radius: 4px;
                    &:hover{
                        background: rgb(100, 100, 100);
                    }
                }
            
                &::-webkit-scrollbar-track {
                    background: var(--scrollbar-background-color);
                    border-radius: 4px;
                }
            }

            .action-buttons{
                display: grid;
                grid-template-columns: 50% auto;

                grid-column-start: 1;
                grid-column-end: 3;

                gap: 10px;
                padding: 10px 10px;
                .primary{
                    grid-column-start: 2;
                }
            }

            pwa-gallery{
                grid-column: 1 / 3;

                max-height: 0;
                opacity: 0;

                transition: opacity ease-in-out .5s, max-height .5s ease-in-out;
                overflow: hidden;
            }
        }  
        
        &.gallery{
            pwa-gallery{
                transition: opacity .3s ease-in-out .2s, max-height .5s ease-in-out;

                max-height: 70vh;
                opacity: 1;
            }
        }

        &.available {
            opacity: 1;
            top: 15px;
            visibility: visible;
        }
    }
    .install-dialog.mobile{
        --touch-header-color: #DBDCE0;
        top: 0px;

        max-width: 414px;
        width: 100%;

        bottom: auto;
        left: 0px;
        right: 0px;

        // transition: bottom .5s ease-in-out 1s, opacity 1.3s ease-in-out .8s, max-height 0.35s ease-in-out 0s;

        transition: none;
        transform: translateY(100vh);

        border-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        padding-bottom: 35px;

        .dialog-body{
            grid-template-columns: 1fr;

            .touch-header{
                height: 30px;
                width: 100%;
                padding-top: 10px;
                box-sizing: border-box;

                cursor: grab;
                &:active{
                    cursor: grabbing; 
                }
                &::before{
                    content:'';
                    width: 40px;
                    height: 5px;
                    border-radius: 3px;
                    background: var(--touch-header-color);
                    margin: 0 auto;
                    display: block;
                }
            }
            .body-header{
                display: grid;
                grid-template-columns: max-content 1fr max-content;
                grid-gap: 15px;
    
                padding: 18px 20px;
                padding-top: 0;

                border-bottom: 1px solid var(--border-bottom-color);
    
                .install{
                    text-transform: capitalize;
                    height: 40px;
                    padding: 0 23px;
                }

                .about{
                    grid-template-rows: auto auto;
                    grid-gap: 6px;

                    .name{
                        padding: 0;
                        line-height: 20px;
                        font-size: 16px;
                    }

                    .hostname{
                        font-size: 14px;
                        font-weight: 400;
                        opacity: 0.7;

                        line-height: 14px;

                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        word-break: break-all;
                        white-space: nowrap;

                        padding: 0;
                    }
                }
    
                .icon .icon-image{
                    margin: 0;
                    width: 45px;
                    height: 45px;
                }
            }
            .description{
                // font-size: 14px;
                // font-weight: normal;
                padding: 15px 20px 0px;
                margin: 0;
                margin-bottom: 15px;

                // display: -webkit-box;
                -webkit-line-clamp: 6;
                // -webkit-box-orient: vertical;

                max-height: 150px;
                // overflow: hidden;
                // text-overflow: ellipsis;
            }
        
            pwa-gallery{
                max-height: 100%;
                padding-bottom: 15px;
                opacity: 1;
            }
        }

        .material-button{
            border-radius: 20px;
        }

        &.available {
            --translateY: translateY(calc(100vh - 85px));

            opacity: 1;
            top: 0px;
            
            visibility: visible;
            
            transform: var(--translateY);
        }
    }
    .material-button {
        --text-color-primary: #fff;
        --text-color-secondary: #374fc6;
        --background-color-primary: #374fc6;
        --background-color-ripple: #fff;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        border-radius: 6px;
        padding: 0 16px;
        min-width: 64px;
        height: 36px;
        vertical-align: middle;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: uppercase;
        
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        
        font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
        font-size: 14px;
        font-weight: 500;
        line-height: 37px;
        overflow: hidden;  
        outline: none;
        cursor: pointer;
        transition: box-shadow 0.2s;
        &.primary{
            color: var(--text-color-primary);
            background-color: var(--background-color-primary);
        }
        &.secondary{
            background-color: transparent;
            color:  var(--text-color-secondary);
            // border: 1px solid #4285F4;

            box-shadow: none;
            &::before, &::after{
                background-color: var(--background-color-primary);
            }
            &:hover, &:active {
                box-shadow: none;
            }
            &.close{
                height: 25px;
                min-width: 25px;
                line-height: 0;

                margin-right: 0;
                margin-left: auto;
                padding: 0;

                border-radius: 50%;

                &::after{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
                &::before{
                    border-radius: 50%;
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--background-color-ripple);
            opacity: 0;
            transition: opacity 0.2s;
        }
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            padding: 50%;
            width: 32px;
            height: 32px;
            background-color: var(--background-color-ripple);
            opacity: 0;
            transform: translate(-50%, -50%) scale(1);
            transition: opacity 1s, transform 0.5s;
        }
        &:hover {
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
            &::before {
                opacity: 0.08;
            }
            &:focus {
                &::before {
                    opacity: 0.3;
                }
            }
        }
        &:active {
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
            &::after {
                opacity: 0.32;
                transform: translate(-50%, -50%) scale(0);
                transition: transform 0s;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    #pwa-install .install-dialog{
        --text-color-normal: #fff;
        --background-color: #1e1e1e;
        --border-bottom-color: #404140;
        --scrollbar-background-color: #424242;

        &.mobile{
            --touch-header-color: #3f403f;
        }

        .material-button{
            --text-color-primary: #1B222C;
            --text-color-secondary: #a7c7fa;
            --background-color-primary: #a7c7fa;
        }
    }
}

@media (max-width: (768px - 1px)) and (min-height: 495px) {
    #pwa-install{
        .install-dialog.chrome.mobile{
            display: inline-block;
        }
        .install-dialog.chrome{
            display: none;
        }
    }
}
@media (min-width: 768px), (max-height: 495px) {
    #pwa-install{
        .install-dialog.chrome.mobile{
            display: none;
        }
        .install-dialog.chrome{
            display: inline-block;
        }
    }
}

@media (max-height: 420px) {
    #pwa-install{
        .install-dialog.chrome .dialog-body .description{
            -webkit-line-clamp: 3;
            max-height: 70px;
        }
    }
}
@media(hover: none) and (pointer: coarse){
	#pwa-install{
        .install-dialog.chrome .dialog-body .description::-webkit-scrollbar{
		    display: none;
	    }
    }
}