#pwa-install{
    .install-dialog.apple{

        font-family: system-ui, -apple-system, 'HelveticaNeue', BlinkMacSystemFont, "Roboto", "Segoe UI";

        // display: inline-grid;
        // grid-template-rows: 1fr auto;
        // grid-gap: 15px;

        max-width: 380px;
        width: auto;

        margin: 0 auto;
        // padding: 15px;

        right: 0;
        left: 0;

        font-size: 15px;
        color: #333;

        bottom: -100px;

        transition: bottom .5s ease-in-out 1s, opacity 1.3s ease-in-out .8s, max-height .35s ease-in-out, border .35s ease-in-out;

        overflow: hidden;

        will-change: opacity, visibility, bottom, top;

        &.dialog-body{
            display: grid;

            grid-template-columns: 95px auto 1fr;
            grid-template-rows: 1fr auto;

            grid-template-areas:
              "icon description"
              "how-to how-to"
              "gallery gallery"
              "button button";

            border-radius: 15px;

            border-bottom: 1px solid transparent;
            // transition: border .35s ease-in-out;

            background-color:rgba(255, 255, 255, 0.75);
            filter: drop-shadow(0 5px 15px rgba(0,0,0,.2));
            backdrop-filter: blur(5px);

            .icon{
                display: flex;
                align-items: center;

                grid-area: icon;

                border-bottom: 1px solid  rgba(0,0,0, .1);
 
                .icon-image{
                    width: 64px;
                    height: 64px;

                    margin: 0 auto;
                    border-radius: 6px;
                }
            }

            .about {
                display: grid;
                grid-template-rows: 35px 60px;

                border-bottom: 1px solid  rgba(0,0,0, .1);

                grid-area: description;

                .name, .description{ 
                    padding-right: 15px;
                    overflow: hidden;
                }
                .name{
                    font-weight: 600;
                    padding-top: 10px;
                    padding-right: 10px;
                    line-height: 22px;

                    align-items: flex-start;
                    display: flex;
                }
                .description{
                    font-size: 12px;
                    line-height: 15px;

                    margin-bottom: 15px;
                    overflow-y: auto;
                }
                .close{
                    height: 25px;
                    min-width: 25px;
                    line-height: 0;

                    margin-right: -3px;
                    margin-top: -3px;
                    margin-left: auto;

                    padding: 0px;
                    border-radius: 50%;

                    opacity: .5;
                    outline: none;

                    border: none;
                    background-color: transparent;

                    cursor: pointer;

                    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
                    
                    &:hover, &:active{
                        opacity: 1;
                        background-color: rgb(255, 255, 255);
                    }
                }
            }
        }
        .action-buttons{
            display: grid;
            grid-template-columns: 64px auto;
            grid-area: button;

            grid-column-start: 1;
            grid-column-end: 3;

            gap: 15px;
            padding: 15px;

        }
        .dialog-button{
            display: grid;

            height: 50px;
            line-height: 50px;

            border-radius: 8px;

            &.button{
                border: none;
                outline: none;

                font-family: system-ui, -apple-system, 'HelveticaNeue', BlinkMacSystemFont;

                cursor: pointer;

                user-select: none;
                font-weight: 400;
                font-size: 17px;
                padding: 0;
                margin: 0;

                &.install, &.gallery{
                    // margin: 15px;
                    background-color: #fff; 
                }
                &.gallery{
                    display: flex;
                    align-items: center;
                    #pwa-gallery{
                        margin: 0 auto;
                        width: 26px;
                        fill: #000;
                    }
                }
                &:active{
                    background-color: #DBDAE0;
                }
            }
        }
        // .dialog-bottom-buttons{
        //     display: flex;
        //     flex-direction: column;

        //     border-radius: 8px;
        //     box-shadow: 0 5px 15px rgba(0,0,0,.3);
        //     .dialog-button{
        //         border-radius: 0px;
        //         &:first-child{
        //             border-top-right-radius: 8px;
        //             border-top-left-radius: 8px;
        //             border-top: none;
        //         }
        //         &:last-child{
        //             border-bottom-right-radius: 8px;
        //             border-bottom-left-radius: 8px;

        //             border-top: 1px solid rgba(0, 0, 0, 0.1);
        //         }
        //     }
        // }
        .how-to-body{
            opacity: 0;
            max-height: 0px;

            overflow: hidden;

            transition: opacity ease-in-out .5s, max-height .5s ease-in-out;

            grid-area: how-to;

            .how-to-description{
                display: grid;
                user-select: none;

                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto 1fr;
                gap: 10px;
                grid-template-areas:
                    "title title title"
                    ". . .";

                padding: 15px;
                padding-bottom: 0;

                .description-title{
                    font-size: 16px;
                    grid-area: title;
                    text-align: center;
                    font-weight: 400;
                    padding-bottom: 5px;

                    width: 85%;
                    margin: 0 auto;
                }
                .description-step{
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;

                    font-size: 14px;
                    .svg-wrap{
                        display: inline-flex;
                        background-color: #fff;

                        width: 48px;
                        height: 48px;
                        align-items: center;

                        border-radius: 6px;
                        #pwa-share, #pwa-add{
                            margin: 0 auto;
                        }
                        #pwa-safari, #pwa-share{
                            fill: #527AFB;
                        }
                        #pwa-share{
                            margin-bottom: 4px;
                            transform: scale(0.82);
                        }
                        #pwa-add{
                            transform: scale(0.9);
                            fill: #000;
                        }
                        #pwa-safari{
                            transform: scale(0.5);
                        }
                    }
                    .step-text{
                        margin-top: 5px;
                        text-align: center;
                    }
                }
            }
        }
        pwa-gallery{
            grid-column: 1 / 3;

            max-height: 0;
            opacity: 0;

            transition: opacity ease-in-out .5s, max-height .5s ease-in-out;
            overflow: hidden;
        }
        &.available {
            opacity: 1;
            bottom: 20px;
            visibility: visible;
        }
        &.gallery{
            pwa-gallery{
                transition: opacity .3s ease-in-out .2s, max-height .5s ease-in-out;

                max-height: 70vh;
                opacity: 1;
            }
        }
        &.how-to{
            .dialog-body{
                border-bottom: 1px solid #e0e0e0;
            }
            .how-to-body{
                opacity: 1;
                max-height: 400px;

                transition: opacity .3s ease-in-out .2s, max-height .5s ease-in-out;
            }
        }
    }
}
@media (min-width: 768px) {
    #pwa-install{
        .install-dialog.apple{
            top: -100px;
            bottom: unset;

            transition: top .5s ease-in-out 1s, opacity 1.3s ease-in-out .8s, max-height .35s ease-in-out;

            &.available {
                top: 28px;
                bottom: auto;
            }
        }
    }
}
@media (max-width: 768px - 1px) {
    #pwa-install{
        .install-dialog.apple{
            .description-step .step-text{
                font-size: 13px;
            }
        }
    }
}
@media (max-width: 420px) {
    #pwa-install{
        .install-dialog.apple{
            max-width: 340px;
        }
    }
}

@media (max-width: 370px) {
    #pwa-install{
        .install-dialog.apple{
            max-width: 300px;
        }
    }
}