html{
    background-color: #82307b;
    width: 100%;
    height: 100%;
}
body{
    /* background: linear-gradient(90deg, rgba(144,92,180,1) 0%, rgba(255,90,152,1) 50%, rgba(255,201,124,1) 100%); */

    height: 100%;
    margin: 0;
}
.control-panel{
    font-family: system-ui, -apple-system, 'HelveticaNeue', BlinkMacSystemFont, "Roboto", "Segoe UI";

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.control-panel fieldset:hover{
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.25);
}
.control-panel fieldset{
    color: #fff;
    margin: 30px;
    border-color: #FFF;
    border-style: dotted;

    opacity: .5;
}
.control-panel fieldset:hover{ 
    opacity: 1;
}

.control-panel textarea{
    color: #fff;
    background: transparent;
    min-width: 300px;
    border: transparent;
}
.control-panel button, .control-panel input{
    background: transparent;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #fff;

    padding: 5px 10px;
}
input::placeholder{
    color: #fff;
}

.control-panel button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.control-panel hr{
    border: 2px dotted #fff;
    border-bottom: none;
}