html{
    background-color: #424ef4;
    /* background-image: url("/screenshots/background.jpg"); */
    background-attachment:fixed;
    width: 100%;
    height: 100%;
    height: calc(100vh + env(safe-area-inset-bottom));
}
body{
    background: linear-gradient(90deg, #424ef4 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 50%), url("/screenshots/background.webp") repeat-x;
    background-size: cover;
    height: 100%;
    margin: 0;
}
.control-panel{
    font-family: system-ui, -apple-system, 'HelveticaNeue', BlinkMacSystemFont, "Roboto", "Segoe UI";

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0;
}
.control-panel header{
    font-size: 0;
    display: flex;
    gap: 5px;
    margin: 0px 15px;
    margin-top: 15px;
    
}
.control-panel header img{
    opacity: 0.7;
}
.control-panel header img:hover{
    opacity: 1;
}

.control-panel fieldset:hover{
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.25);
}
.control-panel fieldset{
    color: #fff;
    
    border-color: #FFF;
    border-style: dotted;
    padding: 5px;
}
.control-panel > fieldset{
    opacity: .7;
    margin: 15px;
}
.control-panel fieldset:hover{ 
    opacity: 1;
}

.control-panel textarea{
    color: #fff;
    background: transparent;
    min-width: 300px;
    border: transparent;
}
.control-panel button, .control-panel input{
    background: transparent;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #fff;

    padding: 5px 10px;
    margin: 3px;
}
input::placeholder{
    color: #fff;
}
input + br + input {
    margin-top: 5px;
}
input[type="checkbox"]{
    margin-top: 10px;
}


.control-panel button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.control-panel hr{
    border: 2px dotted #fff;
    border-bottom: none;
    margin: 5px;
}

label + fieldset {
    margin-top: 5px;
}

label, legend {
    font-size: 14px;
}